body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 10px; /* Reduced padding */
}

h1 {
  font-family: 'Brush Script MT', cursive; 
  font-size: 56px; 
  font-weight: 100; 
  margin-bottom: 20px; 
  color: white; 
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3); 
}

select {
  padding: 8px; /* Reduced padding */
  font-size: 16px; 
  border: 2px solid lightblue; 
  border-radius: 5px; 
  background-color: black; 
  color: white; 
  cursor: pointer; 
  transition: border-color 0.3s; 
  font-family: 'Comic Sans MS', cursive; /* More casual font for names */
}

select:hover {
  border-color: deepskyblue; 
}

#drinkCountDisplay {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
  font-family: 'Comic Sans MS', cursive; /* Comic Sans for the drink count */
}

.circle {
  width: 100px;
  height: 100px;
  border: 5px solid lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: lightblue;
}

.hidden {
  display: none;
}

.buttons {
  margin: 20px 0;
}

button {
  background-color: lightblue;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
}

button:hover {
  background-color: deepskyblue;
}

/* Slider styles */
input[type="range"] {
  width: 100%;
  -webkit-appearance: none; /* Remove default styling */
  background: orange; /* Track color */
  height: 12px; /* Increased height of the track for more width */
  border-radius: 5px; /* Rounded edges */
  margin-top: 10px; /* Space for slider */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb styling */
  appearance: none; /* Remove default thumb styling */
  width: 30px; /* Increased width of the thumb */
  height: 30px; /* Increased height of the thumb */
  background: orange; /* Thumb color */
  border-radius: 50%; /* Circular shape */
  cursor: pointer; /* Cursor change on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 30px; /* Increased width of the thumb */
  height: 30px; /* Increased height of the thumb */
  background: orange; /* Thumb color */
  border-radius: 50%; /* Circular shape */
  cursor: pointer; /* Cursor change on hover */
}

input[type="text"] {
  width: 100%;
  padding: 8px; /* Reduced padding */
  margin: 10px 0;
  border: 2px solid lightblue;
  border-radius: 5px;
  background-color: black;
  color: white;
}

input[type="text"]::placeholder {
  color: grey;
}
